@import 'tailwindcss';

@custom-variant web {
  html.web & {
    @slot;
  }
}

@custom-variant dark {
  html.dark & {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    html:not(.light) & {
      @slot;
    }
  }
}
