.ui-ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  opacity: 1;
  animation: ui-ripple 1000ms ease-out forwards;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
}

@keyframes ui-ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}
